/*公共服务部分start*/
body,html{
    width:100%;
    background: #fff;
}
#service{
    max-width: 640px;
    min-width: 324px;
    background: #fff;
    color: #fff;!important;
}
#service .content{
    width:100%;
    height:auto;
    background-color:#fff;
    margin-bottom:100px;
    /*margin-top: 23px;*/
}
#service .content .h5{
    width:100%;
    height: 40px;
    line-height: 40px;
    background:#8b8bff;
    /*margin-top: 22px;*/
    color:#fff;
    font-size: 16px;
    padding-left:10px;
}
#service .content .h4{
    width:100%;
    height: 40px;
    line-height: 40px;
    background:#8b8bff;
    margin-top: 45px;
    color:#fff;
    font-size: 16px;
    padding-left:10px;
}
#service .content li{
    float: left;
    width:33%;
    padding-top: 10px;
}
#service .content li a img{
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}
#service .content li a span{
    color:#191616;
    padding-top: 5px;
    font-size: 14px;
    display: block;
    text-align: center;
}

/*公共服务部分end*/