.index{
    width:100%;
    /*height:100%;*/
    overflow:hidden;
}
.index .header{
    max-width:640px;
    min-width:320px;
    position: relative;
}
.mui-bar-nav~.mui-content{
    padding-top: 22px;
}
.mui-bar-tab .mui-tab-item .mui-icon{
    width: 20px;
    height: 20px;
}
.new_new{
    /*margin-top:10px;*/
    /*margin-bottom:10px;*/
    border-top: 1px solid #ccc;
    padding: 5px 0px 5px 5px;

}
.new_new img:nth-child(1){
    display: block;
    width:50%;
    float: left;
    border-right:1px solid #ccc;
}
.new_new img:nth-child(2){
    display: block;
    width:50%;
    float: right;
}

.activity{
    width:100%;
    background: #fff;
    margin-bottom:5px;
}
.activity .ac_title{
    width:100%;
    height: 30px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
    line-height: 30px;
    font-size:14px;
    background: #fff;
}
.ac_title a{
    display: block;
    color:#a5a5b3;
    float:right;
    padding-right: 20px;
}
.ac_title:first-child{
    float:left;
    color:#a5a5b3;
    display: block;
    padding-left: 20px;
}

.ac_cont{
    background: #fff;
    color:#a5a5b3;
    border-bottom: 1px solid #ccc;
}

.ac_cont a{
    display: block;
    float: left;
}
.ac_cont img{
    width:80px;
    height: 95px;
    padding-top: 10px;
    margin-left: 10px;
}
.ac_contt{
    width:100%;
    font-size:14px;
    color:#a5a5b3;
    margin-bottom: 10px;
}
.ac_contt a{
    display:inline;
    float: inherit
}
.ac_contt span{
    display: block;
    padding-left:110px;
    padding-top:5px;
    color:#ccc;
}
.ac_contt span:nth-child(1){
    color:rgba(16, 15, 15, 0.71);
    font-size: 14px;
}
.index .mui-content{
    background-color: #fff;
}
footer{
    position: fixed;
    width: 100%;
    border-top: #ccc;
    background-color: #fbf4f4;
    line-height: 20px;
    color: darkred;
    bottom: 0px;
    text-align: center;
    height: 50px;
    border-top:1px solid #ccc;
}
footer a{
    float: left;
    width: 25%;
    padding-top: 5px;
}
footer a img{
    width: 20px;
    height: 20px;
    z-index: 20;
}
footer a .foot_word{
    font-size: 11px;
    display: block;
    overflow: hidden;
}


/*********fotter部分start*************/
/*********fotter部分end*************/